<?xml version="1.0" encoding="utf-8"?>
<fundamentals>
		<RDFList type="Annotations">
			<RDFvoc name="main">annotation-ns</RDFvoc>
			<RDFvoc name="extra1">dcterms</RDFvoc>
		</RDFList>
		<RDFList type="Resources">
			<RDFvoc name="main">dcelements</RDFvoc>
			<RDFvoc name="extra1">dcterms</RDFvoc>
		</RDFList>
</fundamentals>
