<?xml version="1.0" encoding="utf-8"?>
<fundamentals>
		<RDFList type="annotations">
			<RDFvoc main="yes">annotation-ns</RDFvoc>
			<RDFvoc main="no">dcterms</RDFvoc>
		</RDFList>
		<RDFList type="resources">
			<RDFvoc main="yes">dcelements</RDFvoc>
			<RDFvoc main="no">dcterms</RDFvoc>
		</RDFList>
</fundamentals>
